In [250]:
#Import data and remove duplicate data
import pandas as pd
data = pd.read_csv(r'SCD.csv',encoding = 'gb2312').dropna()
data = data.drop_duplicates()
data

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no
0,2018-08-31 22:14:50,2018-09-01 00:00:00,CBEHFCFCG,0,地铁入站,地铁五号线,IGT-105,布吉,0,0,263032105
1,2018-08-31 22:13:39,2018-09-01 00:00:00,CBCEBDIJE,0,地铁入站,地铁五号线,IGT-105,布吉,0,0,263032105
2,2018-08-31 23:11:06,2018-09-01 00:00:00,FFHEDIBCC,700,地铁出站,地铁五号线,OGT-101,长龙,0,665,263031101
3,2018-08-31 23:08:15,2018-09-01 00:00:00,FFDGIGIFH,500,地铁出站,地铁五号线,OGT-101,长龙,0,475,263031101
4,2018-08-31 19:41:51,2018-09-01 00:00:00,FHDICIDBD,0,地铁入站,地铁五号线,IGT-104,布吉,0,0,263032104
...,...,...,...,...,...,...,...,...,...,...,...
4385872,2018-09-01 09:03:17,2018-09-01 00:00:00,CFHCCGAEC,100,巴士,西部公共汽车,粤BBA748,B692线,0,80,224007753
4385873,2018-09-01 09:54:13,2018-09-01 00:00:00,BIDJAEDEE,100,巴士,西部公共汽车,粤BBA748,B692线,1,40,224007753
4385874,2018-09-01 09:24:23,2018-09-01 00:00:00,FHGIHHCDA,200,巴士,巴士集团,02873D,103路,0,160,231016943
4385875,2018-09-01 09:40:47,2018-09-01 00:00:00,FHGHJJHIG,200,巴士,巴士集团,02873D,103路,0,160,231016943
4385876,2018-09-01 08:27:03,2018-09-01 00:00:00,BIHBJHECE,100,巴士,西部公共汽车,粤BBB962,B692线,1,40,224007754

In [251]:
data1 = data[-(data['deal_type'] == '巴士')]
data2 = data[data['deal_type'] == '巴士']

In [252]:
r = data1['deal_date'].iloc[0]
#Separate date and time
data1['date'] = data1['deal_date'].apply(lambda r:r[:(r.find(' ')+1)])
data1['time'] = data1['deal_date'].apply(lambda r:r[(r.find(' ')+1):])
data1

C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\3245059418.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['date'] = data1['deal_date'].apply(lambda r:r[:(r.find(' ')+1)])
C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\3245059418.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['time'] = data1['deal_date'].apply(lambda r:r[(r.find(' ')+1):])

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
0,2018-08-31 22:14:50,2018-09-01 00:00:00,CBEHFCFCG,0,地铁入站,地铁五号线,IGT-105,布吉,0,0,263032105,2018-08-31,22:14:50
1,2018-08-31 22:13:39,2018-09-01 00:00:00,CBCEBDIJE,0,地铁入站,地铁五号线,IGT-105,布吉,0,0,263032105,2018-08-31,22:13:39
2,2018-08-31 23:11:06,2018-09-01 00:00:00,FFHEDIBCC,700,地铁出站,地铁五号线,OGT-101,长龙,0,665,263031101,2018-08-31,23:11:06
3,2018-08-31 23:08:15,2018-09-01 00:00:00,FFDGIGIFH,500,地铁出站,地铁五号线,OGT-101,长龙,0,475,263031101,2018-08-31,23:08:15
4,2018-08-31 19:41:51,2018-09-01 00:00:00,FHDICIDBD,0,地铁入站,地铁五号线,IGT-104,布吉,0,0,263032104,2018-08-31,19:41:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4385864,2018-09-01 11:09:12,2018-09-01 00:00:00,BEAFDGJDE,0,地铁入站,地铁四号线,AGM-103,清湖,0,0,262011103,2018-09-01,11:09:12
4385865,2018-09-01 11:09:47,2018-09-01 00:00:00,CBGJDCGID,0,地铁入站,地铁七号线,双AGM19-20,皇岗口岸,0,0,265026114,2018-09-01,11:09:47
4385866,2018-09-01 11:09:33,2018-09-01 00:00:00,FHIHACJCA,300,地铁出站,地铁九号线,双AGM-101,梅景,0,285,267018101,2018-09-01,11:09:33
4385867,2018-09-01 11:06:54,2018-09-01 00:00:00,CBBDHCHIF,0,地铁入站,地铁四号线,AGM-109,上梅林,0,0,262019109,2018-09-01,11:06:54
4385869,2018-09-01 11:06:42,2018-09-01 00:00:00,CFAIJEIIH,0,地铁入站,地铁四号线,AGM-101,莲花北,0,0,262020101,2018-09-01,11:06:42

In [253]:
data1.sort_values(by = ['date'])

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
0,2018-08-31 22:14:50,2018-09-01 00:00:00,CBEHFCFCG,0,地铁入站,地铁五号线,IGT-105,布吉,0,0,263032105,2018-08-31,22:14:50
3905373,2018-08-31 20:34:06,2018-09-01 00:00:00,FHDIHCFDB,0,地铁入站,地铁五号线,IGT-133,深圳北,0,0,263024133,2018-08-31,20:34:06
3905372,2018-08-31 20:34:18,2018-09-01 00:00:00,FHGFEAIDJ,0,地铁入站,地铁五号线,IGT-134,深圳北,0,0,263024134,2018-08-31,20:34:18
3905371,2018-08-31 20:34:18,2018-09-01 00:00:00,FHECGACIF,0,地铁入站,地铁五号线,IGT-102,深圳北,0,0,263024102,2018-08-31,20:34:18
4100789,2018-08-31 23:07:35,2018-09-01 00:00:00,FFCBBCAFH,0,地铁入站,地铁五号线,IGT-134,深圳北,0,0,263024134,2018-08-31,23:07:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
514450,2018-09-01 08:26:16,2018-09-01 00:00:00,BIEIDCEAC,0,地铁入站,地铁四号线,AGM-111,民乐,0,0,262018111,2018-09-01,08:26:16
514451,2018-09-01 08:32:06,2018-09-01 00:00:00,FFEDDDECB,0,地铁入站,地铁五号线,AGT-113,杨美,0,0,263028113,2018-09-01,08:32:06
514452,2018-09-01 08:32:28,2018-09-01 00:00:00,FIJBGGJHB,0,地铁入站,地铁五号线,AGT-110,民治,0,0,263025110,2018-09-01,08:32:28
514426,2018-09-01 08:22:58,2018-09-01 00:00:00,FFCBBAHBC,500,地铁出站,地铁三号线,AGM-110,华新,0,475,261009110,2018-09-01,08:22:58
4385869,2018-09-01 11:06:42,2018-09-01 00:00:00,CFAIJEIIH,0,地铁入站,地铁四号线,AGM-101,莲花北,0,0,262020101,2018-09-01,11:06:42

In [254]:
#subway data on August 31
data11 = data1[data1['date'] == '2018-08-31 ']
data11 = data11.sort_values(by = ['card_no','time'])
data11

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
2338199,2018-08-31 18:21:28,2018-09-01 00:00:00,AEAAAHHCD,0,地铁入站,地铁五号线,IGT-102,深圳北,0,0,263024102,2018-08-31,18:21:28
2426545,2018-08-31 18:24:32,2018-09-01 00:00:00,AEAAJFBFB,800,地铁出站,地铁五号线,OGT-124,深圳北,0,400,263024124,2018-08-31,18:24:32
2418167,2018-08-31 17:52:00,2018-09-01 00:00:00,AEAAJFBFC,0,地铁入站,地铁五号线,IGT-134,深圳北,0,0,263024134,2018-08-31,17:52:00
3832170,2018-08-31 19:06:17,2018-09-01 00:00:00,AEAJBAAED,0,地铁入站,地铁五号线,IGT-102,深圳北,0,0,263024102,2018-08-31,19:06:17
3834118,2018-08-31 18:19:59,2018-09-01 00:00:00,AEAJBGICH,0,地铁入站,地铁五号线,IGT-103,深圳北,0,0,263024103,2018-08-31,18:19:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3871881,2018-08-31 21:52:18,2018-09-01 00:00:00,HJJHDBBF,500,地铁出站,地铁五号线,OGT-123,深圳北,0,475,263024123,2018-08-31,21:52:18
3916092,2018-08-31 20:47:54,2018-09-01 00:00:00,HJJHEEJE,0,地铁入站,地铁五号线,AGT-107,深圳北,0,0,263024107,2018-08-31,20:47:54
4076257,2018-08-31 22:44:26,2018-09-01 00:00:00,HJJHHFCG,0,地铁入站,地铁五号线,IGT-134,深圳北,0,0,263024134,2018-08-31,22:44:26
3978742,2018-08-31 21:04:36,2018-09-01 00:00:00,HJJHIDEB,0,地铁入站,地铁五号线,AGT-129,深圳北,0,0,263024129,2018-08-31,21:04:36
3992462,2018-08-31 19:29:29,2018-09-01 00:00:00,HJJIIJDD,500,地铁出站,地铁五号线,OGT-137,深圳北,0,475,263024137,2018-08-31,19:29:29

In [255]:
#Remove some useless columns
data11 = data11[['card_no','date','time','deal_value','deal_money','company_name','station','car_no']]
data11

,card_no,date,time,deal_value,deal_money,company_name,station,car_no
2338199,AEAAAHHCD,2018-08-31,18:21:28,0,0,地铁五号线,深圳北,IGT-102
2426545,AEAAJFBFB,2018-08-31,18:24:32,800,400,地铁五号线,深圳北,OGT-124
2418167,AEAAJFBFC,2018-08-31,17:52:00,0,0,地铁五号线,深圳北,IGT-134
3832170,AEAJBAAED,2018-08-31,19:06:17,0,0,地铁五号线,深圳北,IGT-102
3834118,AEAJBGICH,2018-08-31,18:19:59,0,0,地铁五号线,深圳北,IGT-103
...,...,...,...,...,...,...,...,...
3871881,HJJHDBBF,2018-08-31,21:52:18,500,475,地铁五号线,深圳北,OGT-123
3916092,HJJHEEJE,2018-08-31,20:47:54,0,0,地铁五号线,深圳北,AGT-107
4076257,HJJHHFCG,2018-08-31,22:44:26,0,0,地铁五号线,深圳北,IGT-134
3978742,HJJHIDEB,2018-08-31,21:04:36,0,0,地铁五号线,深圳北,AGT-129
3992462,HJJIIJDD,2018-08-31,19:29:29,500,475,地铁五号线,深圳北,OGT-137

In [256]:
#Pan table up one row
for col in data11.columns:
    data11[col+'1'] = data11[col].shift(-1)
    print(col)
data11

card_no
date
time
deal_value
deal_money
company_name
station
car_no

C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\402725842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data11[col+'1'] = data11[col].shift(-1)
C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\402725842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data11[col+'1'] = data11[col].shift(-1)
C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\402725842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data11[col+'1'] = data11[col].shift(-1)
C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\402725842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data11[col+'1'] = data11[col].shift(-1)

,card_no,date,time,deal_value,deal_money,company_name,station,car_no,card_no1,date1,time1,deal_value1,deal_money1,company_name1,station1,car_no1
2338199,AEAAAHHCD,2018-08-31,18:21:28,0,0,地铁五号线,深圳北,IGT-102,AEAAJFBFB,2018-08-31,18:24:32,800.0,400.0,地铁五号线,深圳北,OGT-124
2426545,AEAAJFBFB,2018-08-31,18:24:32,800,400,地铁五号线,深圳北,OGT-124,AEAAJFBFC,2018-08-31,17:52:00,0.0,0.0,地铁五号线,深圳北,IGT-134
2418167,AEAAJFBFC,2018-08-31,17:52:00,0,0,地铁五号线,深圳北,IGT-134,AEAJBAAED,2018-08-31,19:06:17,0.0,0.0,地铁五号线,深圳北,IGT-102
3832170,AEAJBAAED,2018-08-31,19:06:17,0,0,地铁五号线,深圳北,IGT-102,AEAJBGICH,2018-08-31,18:19:59,0.0,0.0,地铁五号线,深圳北,IGT-103
3834118,AEAJBGICH,2018-08-31,18:19:59,0,0,地铁五号线,深圳北,IGT-103,AEAJDGDJE,2018-08-31,19:31:34,500.0,250.0,地铁五号线,深圳北,OGT-125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3871881,HJJHDBBF,2018-08-31,21:52:18,500,475,地铁五号线,深圳北,OGT-123,HJJHEEJE,2018-08-31,20:47:54,0.0,0.0,地铁五号线,深圳北,AGT-107
3916092,HJJHEEJE,2018-08-31,20:47:54,0,0,地铁五号线,深圳北,AGT-107,HJJHHFCG,2018-08-31,22:44:26,0.0,0.0,地铁五号线,深圳北,IGT-134
4076257,HJJHHFCG,2018-08-31,22:44:26,0,0,地铁五号线,深圳北,IGT-134,HJJHIDEB,2018-08-31,21:04:36,0.0,0.0,地铁五号线,深圳北,AGT-129
3978742,HJJHIDEB,2018-08-31,21:04:36,0,0,地铁五号线,深圳北,AGT-129,HJJIIJDD,2018-08-31,19:29:29,500.0,475.0,地铁五号线,深圳北,OGT-137
3992462,HJJIIJDD,2018-08-31,19:29:29,500,475,地铁五号线,深圳北,OGT-137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [257]:
#Remove data that card_no ID is not equal to card_no1 ID
data11 = data11[data11['card_no'] == data11['card_no1']]
data11

,card_no,date,time,deal_value,deal_money,company_name,station,car_no,card_no1,date1,time1,deal_value1,deal_money1,company_name1,station1,car_no1
2419824,AHJJHHJIA,2018-08-31,18:53:09,600,570,地铁五号线,深圳北,OGT-113,AHJJHHJIA,2018-08-31,19:28:31,0.0,0.0,地铁五号线,深圳北,IGT-133
2348845,BAAAJEABD,2018-08-31,18:40:02,400,0,地铁五号线,深圳北,OGT-112,BAAAJEABD,2018-08-31,19:59:46,0.0,0.0,地铁五号线,深圳北,AGT-106
2348920,BBJJCEGD,2018-08-31,18:22:38,500,475,地铁五号线,深圳北,OGT-110,BBJJCEGD,2018-08-31,20:53:34,0.0,0.0,地铁五号线,深圳北,IGT-101
3828014,BCABBCDF,2018-08-31,17:50:27,300,285,地铁五号线,深圳北,OGT-137,BCABBCDF,2018-08-31,18:19:50,0.0,0.0,地铁五号线,深圳北,IGT-104
2410157,BCBAGGII,2018-08-31,19:07:32,400,380,地铁五号线,深圳北,OGT-138,BCBAGGII,2018-08-31,20:23:54,0.0,0.0,地铁五号线,深圳北,AGT-108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107760,HHJJJIHBD,2018-08-31,23:07:46,0,0,地铁五号线,深圳北,AGT-108,HHJJJIHBD,2018-08-31,23:26:33,200.0,0.0,地铁五号线,深圳北,AGT-108
2429265,HJAFDIEE,2018-08-31,19:12:24,500,475,地铁五号线,深圳北,AGT-108,HJAFDIEE,2018-08-31,19:32:52,0.0,0.0,地铁五号线,深圳北,IGT-103
2350187,HJAFECFB,2018-08-31,18:46:32,200,190,地铁五号线,深圳北,OGT-125,HJAFECFB,2018-08-31,19:40:40,0.0,0.0,地铁五号线,深圳北,IGT-102
3897320,HJCCJJEC,2018-08-31,19:56:16,500,475,地铁五号线,深圳北,OGT-111,HJCCJJEC,2018-08-31,20:49:32,0.0,0.0,地铁五号线,深圳北,IGT-134
2425239,HJJDBFAI,2018-08-31,18:45:16,0,0,地铁五号线,深圳北,AGT-128,HJJDBFAI,2018-08-31,21:40:53,400.0,380.0,地铁五号线,深圳北,OGT-122

In [258]:
#Found data with inbound amount 0 and outbound amount not 0
data11 = data11[(data11['deal_money'] == 0)&(data11['deal_money1'] >= 0)]
data11

,card_no,date,time,deal_value,deal_money,company_name,station,car_no,card_no1,date1,time1,deal_value1,deal_money1,company_name1,station1,car_no1
2348845,BAAAJEABD,2018-08-31,18:40:02,400,0,地铁五号线,深圳北,OGT-112,BAAAJEABD,2018-08-31,19:59:46,0.0,0.0,地铁五号线,深圳北,AGT-106
2319217,BCCDBGJC,2018-08-31,18:21:13,0,0,地铁五号线,深圳北,IGT-103,BCCDBGJC,2018-08-31,18:21:56,0.0,0.0,地铁五号线,深圳北,AGT-108
2405037,BCDHDEBE,2018-08-31,16:46:34,0,0,地铁五号线,深圳北,IGT-102,BCDHDEBE,2018-08-31,18:46:14,400.0,340.0,地铁五号线,深圳北,OGT-113
3980731,BCEJIIFD,2018-08-31,16:57:47,0,0,地铁五号线,深圳北,AGT-129,BCEJIIFD,2018-08-31,17:27:56,200.0,190.0,地铁五号线,深圳北,OGT-121
2312608,BEAFHJJGH,2018-08-31,18:58:33,0,0,地铁五号线,深圳北,IGT-130,BEAFHJJGH,2018-08-31,20:55:24,200.0,100.0,地铁五号线,深圳北,OGT-109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019457,HHJJBIJEG,2018-08-31,20:22:38,300,0,地铁五号线,深圳北,AGT-108,HHJJBIJEG,2018-08-31,20:35:03,0.0,0.0,地铁五号线,深圳北,IGT-101
2340844,HHJJJFFIF,2018-08-31,19:01:41,0,0,地铁五号线,深圳北,AGT-129,HHJJJFFIF,2018-08-31,21:28:51,0.0,0.0,地铁五号线,深圳北,AGT-108
4116696,HHJJJIEGB,2018-08-31,23:31:21,200,0,地铁五号线,深圳北,OGT-110,HHJJJIEGB,2018-08-31,23:45:38,0.0,0.0,地铁五号线,深圳北,AGT-107
4107760,HHJJJIHBD,2018-08-31,23:07:46,0,0,地铁五号线,深圳北,AGT-108,HHJJJIHBD,2018-08-31,23:26:33,200.0,0.0,地铁五号线,深圳北,AGT-108
2425239,HJJDBFAI,2018-08-31,18:45:16,0,0,地铁五号线,深圳北,AGT-128,HJJDBFAI,2018-08-31,21:40:53,400.0,380.0,地铁五号线,深圳北,OGT-122

In [259]:
r = data11['company_name'].iloc[0]
#Separate mode
data11['mode of transport'] = data1['company_name'].apply(lambda r:r[:(r.find('铁'))+1])
data11

C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\1820444459.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data11['mode of transport'] = data1['company_name'].apply(lambda r:r[:(r.find('铁'))+1])

,card_no,date,time,deal_value,deal_money,company_name,station,car_no,card_no1,date1,time1,deal_value1,deal_money1,company_name1,station1,car_no1,mode of transport
2348845,BAAAJEABD,2018-08-31,18:40:02,400,0,地铁五号线,深圳北,OGT-112,BAAAJEABD,2018-08-31,19:59:46,0.0,0.0,地铁五号线,深圳北,AGT-106,地铁
2319217,BCCDBGJC,2018-08-31,18:21:13,0,0,地铁五号线,深圳北,IGT-103,BCCDBGJC,2018-08-31,18:21:56,0.0,0.0,地铁五号线,深圳北,AGT-108,地铁
2405037,BCDHDEBE,2018-08-31,16:46:34,0,0,地铁五号线,深圳北,IGT-102,BCDHDEBE,2018-08-31,18:46:14,400.0,340.0,地铁五号线,深圳北,OGT-113,地铁
3980731,BCEJIIFD,2018-08-31,16:57:47,0,0,地铁五号线,深圳北,AGT-129,BCEJIIFD,2018-08-31,17:27:56,200.0,190.0,地铁五号线,深圳北,OGT-121,地铁
2312608,BEAFHJJGH,2018-08-31,18:58:33,0,0,地铁五号线,深圳北,IGT-130,BEAFHJJGH,2018-08-31,20:55:24,200.0,100.0,地铁五号线,深圳北,OGT-109,地铁
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019457,HHJJBIJEG,2018-08-31,20:22:38,300,0,地铁五号线,深圳北,AGT-108,HHJJBIJEG,2018-08-31,20:35:03,0.0,0.0,地铁五号线,深圳北,IGT-101,地铁
2340844,HHJJJFFIF,2018-08-31,19:01:41,0,0,地铁五号线,深圳北,AGT-129,HHJJJFFIF,2018-08-31,21:28:51,0.0,0.0,地铁五号线,深圳北,AGT-108,地铁
4116696,HHJJJIEGB,2018-08-31,23:31:21,200,0,地铁五号线,深圳北,OGT-110,HHJJJIEGB,2018-08-31,23:45:38,0.0,0.0,地铁五号线,深圳北,AGT-107,地铁
4107760,HHJJJIHBD,2018-08-31,23:07:46,0,0,地铁五号线,深圳北,AGT-108,HHJJJIHBD,2018-08-31,23:26:33,200.0,0.0,地铁五号线,深圳北,AGT-108,地铁
2425239,HJJDBFAI,2018-08-31,18:45:16,0,0,地铁五号线,深圳北,AGT-128,HJJDBFAI,2018-08-31,21:40:53,400.0,380.0,地铁五号线,深圳北,OGT-122,地铁

In [260]:
#Change the order of columns
data11 = data11[['card_no','date','time','company_name','station','time1','company_name1','station1','mode of transport','deal_money1','car_no']]
#Change column name
data11.columns = ['cardID','date','Start time','start line','start station','end time','end line','end station','mode of transport','deal_money','car_no']
data11

,cardID,date,Start time,start line,start station,end time,end line,end station,mode of transport,deal_money,car_no
2348845,BAAAJEABD,2018-08-31,18:40:02,地铁五号线,深圳北,19:59:46,地铁五号线,深圳北,地铁,0.0,OGT-112
2319217,BCCDBGJC,2018-08-31,18:21:13,地铁五号线,深圳北,18:21:56,地铁五号线,深圳北,地铁,0.0,IGT-103
2405037,BCDHDEBE,2018-08-31,16:46:34,地铁五号线,深圳北,18:46:14,地铁五号线,深圳北,地铁,340.0,IGT-102
3980731,BCEJIIFD,2018-08-31,16:57:47,地铁五号线,深圳北,17:27:56,地铁五号线,深圳北,地铁,190.0,AGT-129
2312608,BEAFHJJGH,2018-08-31,18:58:33,地铁五号线,深圳北,20:55:24,地铁五号线,深圳北,地铁,100.0,IGT-130
...,...,...,...,...,...,...,...,...,...,...,...
4019457,HHJJBIJEG,2018-08-31,20:22:38,地铁五号线,深圳北,20:35:03,地铁五号线,深圳北,地铁,0.0,AGT-108
2340844,HHJJJFFIF,2018-08-31,19:01:41,地铁五号线,深圳北,21:28:51,地铁五号线,深圳北,地铁,0.0,AGT-129
4116696,HHJJJIEGB,2018-08-31,23:31:21,地铁五号线,深圳北,23:45:38,地铁五号线,深圳北,地铁,0.0,OGT-110
4107760,HHJJJIHBD,2018-08-31,23:07:46,地铁五号线,深圳北,23:26:33,地铁五号线,深圳北,地铁,0.0,AGT-108
2425239,HJJDBFAI,2018-08-31,18:45:16,地铁五号线,深圳北,21:40:53,地铁五号线,深圳北,地铁,380.0,AGT-128

In [261]:
#subway data on September 1
data12 = data1[data1['date'] == '2018-09-01 ']
data12 = data12.sort_values(by = ['card_no','time'])
data12

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
453103,2018-09-01 08:18:04,2018-09-01 00:00:00,AEAAAAAAG,0,地铁入站,地铁五号线,IGT-106,留仙洞,0,0,263019106,2018-09-01,08:18:04
526922,2018-09-01 08:35:05,2018-09-01 00:00:00,AEAAAAAAG,300,地铁出站,地铁七号线,出AGM23-24,桃源村,0,150,265016117,2018-09-01,08:35:05
78125,2018-09-01 07:25:16,2018-09-01 00:00:00,AEAAAAAFB,0,地铁入站,地铁九号线,IGT-123,泥岗,0,0,267024123,2018-09-01,07:25:16
127928,2018-09-01 07:41:38,2018-09-01 00:00:00,AEAAAAAFB,200,地铁出站,地铁七号线,出AGM01-02,黄木岗,0,100,265032101,2018-09-01,07:41:38
504798,2018-09-01 08:26:22,2018-09-01 00:00:00,AEAAAACFF,0,地铁入站,地铁三号线,AGM-109,翠竹,0,0,261014109,2018-09-01,08:26:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3889305,2018-09-01 09:57:37,2018-09-01 00:00:00,HJJJIDGB,200,地铁出站,地铁一号线,OGT-106,会展中心站,0,190,268008106,2018-09-01,09:57:37
4274856,2018-09-01 10:14:48,2018-09-01 00:00:00,HJJJIGGJ,0,地铁入站,地铁四号线,IGT-115,福民,0,0,268018115,2018-09-01,10:14:48
4241973,2018-09-01 10:43:32,2018-09-01 00:00:00,HJJJIGGJ,400,地铁出站,地铁七号线,双AGM19-20,深云,1,340,265017113,2018-09-01,10:43:32
2399713,2018-09-01 08:44:00,2018-09-01 00:00:00,HJJJJFAC,0,地铁入站,地铁五号线,IGT-107,翻身,0,0,263015107,2018-09-01,08:44:00
2319766,2018-09-01 09:17:02,2018-09-01 00:00:00,HJJJJFAC,500,地铁出站,地铁五号线,OGT-118,民治,0,475,263025118,2018-09-01,09:17:02

In [262]:
#Remove some useless columns
data12 = data12[['card_no','date','time','deal_value','deal_money','company_name','station','car_no']]
data12

,card_no,date,time,deal_value,deal_money,company_name,station,car_no
453103,AEAAAAAAG,2018-09-01,08:18:04,0,0,地铁五号线,留仙洞,IGT-106
526922,AEAAAAAAG,2018-09-01,08:35:05,300,150,地铁七号线,桃源村,出AGM23-24
78125,AEAAAAAFB,2018-09-01,07:25:16,0,0,地铁九号线,泥岗,IGT-123
127928,AEAAAAAFB,2018-09-01,07:41:38,200,100,地铁七号线,黄木岗,出AGM01-02
504798,AEAAAACFF,2018-09-01,08:26:22,0,0,地铁三号线,翠竹,AGM-109
...,...,...,...,...,...,...,...,...
3889305,HJJJIDGB,2018-09-01,09:57:37,200,190,地铁一号线,会展中心站,OGT-106
4274856,HJJJIGGJ,2018-09-01,10:14:48,0,0,地铁四号线,福民,IGT-115
4241973,HJJJIGGJ,2018-09-01,10:43:32,400,340,地铁七号线,深云,双AGM19-20
2399713,HJJJJFAC,2018-09-01,08:44:00,0,0,地铁五号线,翻身,IGT-107
2319766,HJJJJFAC,2018-09-01,09:17:02,500,475,地铁五号线,民治,OGT-118

In [263]:
#Pan table up one row
for col in data12.columns:
    data12[col+'1'] = data12[col].shift(-1)
    print(col)
data12

card_no
date
time
deal_value
deal_money
company_name
station
car_no

C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\1372189854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data12[col+'1'] = data12[col].shift(-1)
C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\1372189854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data12[col+'1'] = data12[col].shift(-1)
C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\1372189854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data12[col+'1'] = data12[col].shift(-1)
C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\1372189854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data12[col+'1'] = data12[col].shift(-1)

,card_no,date,time,deal_value,deal_money,company_name,station,car_no,card_no1,date1,time1,deal_value1,deal_money1,company_name1,station1,car_no1
453103,AEAAAAAAG,2018-09-01,08:18:04,0,0,地铁五号线,留仙洞,IGT-106,AEAAAAAAG,2018-09-01,08:35:05,300.0,150.0,地铁七号线,桃源村,出AGM23-24
526922,AEAAAAAAG,2018-09-01,08:35:05,300,150,地铁七号线,桃源村,出AGM23-24,AEAAAAAFB,2018-09-01,07:25:16,0.0,0.0,地铁九号线,泥岗,IGT-123
78125,AEAAAAAFB,2018-09-01,07:25:16,0,0,地铁九号线,泥岗,IGT-123,AEAAAAAFB,2018-09-01,07:41:38,200.0,100.0,地铁七号线,黄木岗,出AGM01-02
127928,AEAAAAAFB,2018-09-01,07:41:38,200,100,地铁七号线,黄木岗,出AGM01-02,AEAAAACFF,2018-09-01,08:26:22,0.0,0.0,地铁三号线,翠竹,AGM-109
504798,AEAAAACFF,2018-09-01,08:26:22,0,0,地铁三号线,翠竹,AGM-109,AEAAAACFF,2018-09-01,08:49:23,300.0,150.0,地铁四号线,少年宫,OGT-122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3889305,HJJJIDGB,2018-09-01,09:57:37,200,190,地铁一号线,会展中心站,OGT-106,HJJJIGGJ,2018-09-01,10:14:48,0.0,0.0,地铁四号线,福民,IGT-115
4274856,HJJJIGGJ,2018-09-01,10:14:48,0,0,地铁四号线,福民,IGT-115,HJJJIGGJ,2018-09-01,10:43:32,400.0,340.0,地铁七号线,深云,双AGM19-20
4241973,HJJJIGGJ,2018-09-01,10:43:32,400,340,地铁七号线,深云,双AGM19-20,HJJJJFAC,2018-09-01,08:44:00,0.0,0.0,地铁五号线,翻身,IGT-107
2399713,HJJJJFAC,2018-09-01,08:44:00,0,0,地铁五号线,翻身,IGT-107,HJJJJFAC,2018-09-01,09:17:02,500.0,475.0,地铁五号线,民治,OGT-118
2319766,HJJJJFAC,2018-09-01,09:17:02,500,475,地铁五号线,民治,OGT-118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [264]:
#Remove data that card_no ID is not equal to card_no1 ID
data12 = data12[data12['card_no'] == data12['card_no1']]
data12

,card_no,date,time,deal_value,deal_money,company_name,station,car_no,card_no1,date1,time1,deal_value1,deal_money1,company_name1,station1,car_no1
453103,AEAAAAAAG,2018-09-01,08:18:04,0,0,地铁五号线,留仙洞,IGT-106,AEAAAAAAG,2018-09-01,08:35:05,300.0,150.0,地铁七号线,桃源村,出AGM23-24
78125,AEAAAAAFB,2018-09-01,07:25:16,0,0,地铁九号线,泥岗,IGT-123,AEAAAAAFB,2018-09-01,07:41:38,200.0,100.0,地铁七号线,黄木岗,出AGM01-02
504798,AEAAAACFF,2018-09-01,08:26:22,0,0,地铁三号线,翠竹,AGM-109,AEAAAACFF,2018-09-01,08:49:23,300.0,150.0,地铁四号线,少年宫,OGT-122
122332,AEAAAACHG,2018-09-01,07:47:02,0,0,地铁三号线,草埔,AGM-114,AEAAAACHG,2018-09-01,08:17:53,400.0,200.0,地铁三号线,少年宫,AGM-103
3820902,AEAAAAEBF,2018-09-01,09:35:25,0,0,地铁九号线,向西村,IGT-111,AEAAAAEBF,2018-09-01,10:08:21,400.0,200.0,地铁四号线,少年宫,OGT-102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55280,HJJJHCID,2018-09-01,07:12:53,0,0,地铁一号线,固戍,IGT_108,HJJJHCID,2018-09-01,07:52:28,500.0,475.0,地铁五号线,大学城,OGT-107
3823687,HJJJIBDF,2018-09-01,09:28:05,0,0,地铁一号线,罗湖站,IGT-109,HJJJIBDF,2018-09-01,09:44:21,300.0,285.0,地铁一号线,岗厦站,OGT-112
4156691,HJJJIDGB,2018-09-01,09:50:30,0,0,地铁四号线,福民,IGT-109,HJJJIDGB,2018-09-01,09:57:37,200.0,190.0,地铁一号线,会展中心站,OGT-106
4274856,HJJJIGGJ,2018-09-01,10:14:48,0,0,地铁四号线,福民,IGT-115,HJJJIGGJ,2018-09-01,10:43:32,400.0,340.0,地铁七号线,深云,双AGM19-20
2399713,HJJJJFAC,2018-09-01,08:44:00,0,0,地铁五号线,翻身,IGT-107,HJJJJFAC,2018-09-01,09:17:02,500.0,475.0,地铁五号线,民治,OGT-118

In [265]:
#Found data with inbound amount 0 and outbound amount not 0
data12 = data12[(data12['deal_money'] == 0)&(data12['deal_money1'] >= 0)]
data12

,card_no,date,time,deal_value,deal_money,company_name,station,car_no,card_no1,date1,time1,deal_value1,deal_money1,company_name1,station1,car_no1
453103,AEAAAAAAG,2018-09-01,08:18:04,0,0,地铁五号线,留仙洞,IGT-106,AEAAAAAAG,2018-09-01,08:35:05,300.0,150.0,地铁七号线,桃源村,出AGM23-24
78125,AEAAAAAFB,2018-09-01,07:25:16,0,0,地铁九号线,泥岗,IGT-123,AEAAAAAFB,2018-09-01,07:41:38,200.0,100.0,地铁七号线,黄木岗,出AGM01-02
504798,AEAAAACFF,2018-09-01,08:26:22,0,0,地铁三号线,翠竹,AGM-109,AEAAAACFF,2018-09-01,08:49:23,300.0,150.0,地铁四号线,少年宫,OGT-122
122332,AEAAAACHG,2018-09-01,07:47:02,0,0,地铁三号线,草埔,AGM-114,AEAAAACHG,2018-09-01,08:17:53,400.0,200.0,地铁三号线,少年宫,AGM-103
3820902,AEAAAAEBF,2018-09-01,09:35:25,0,0,地铁九号线,向西村,IGT-111,AEAAAAEBF,2018-09-01,10:08:21,400.0,200.0,地铁四号线,少年宫,OGT-102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55280,HJJJHCID,2018-09-01,07:12:53,0,0,地铁一号线,固戍,IGT_108,HJJJHCID,2018-09-01,07:52:28,500.0,475.0,地铁五号线,大学城,OGT-107
3823687,HJJJIBDF,2018-09-01,09:28:05,0,0,地铁一号线,罗湖站,IGT-109,HJJJIBDF,2018-09-01,09:44:21,300.0,285.0,地铁一号线,岗厦站,OGT-112
4156691,HJJJIDGB,2018-09-01,09:50:30,0,0,地铁四号线,福民,IGT-109,HJJJIDGB,2018-09-01,09:57:37,200.0,190.0,地铁一号线,会展中心站,OGT-106
4274856,HJJJIGGJ,2018-09-01,10:14:48,0,0,地铁四号线,福民,IGT-115,HJJJIGGJ,2018-09-01,10:43:32,400.0,340.0,地铁七号线,深云,双AGM19-20
2399713,HJJJJFAC,2018-09-01,08:44:00,0,0,地铁五号线,翻身,IGT-107,HJJJJFAC,2018-09-01,09:17:02,500.0,475.0,地铁五号线,民治,OGT-118

In [266]:
r = data12['company_name'].iloc[0]
#Separate mode
data12['mode of transport'] = data12['company_name'].apply(lambda r:r[:(r.find('铁'))+1])
data12

C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\4141742805.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data12['mode of transport'] = data12['company_name'].apply(lambda r:r[:(r.find('铁'))+1])

,card_no,date,time,deal_value,deal_money,company_name,station,car_no,card_no1,date1,time1,deal_value1,deal_money1,company_name1,station1,car_no1,mode of transport
453103,AEAAAAAAG,2018-09-01,08:18:04,0,0,地铁五号线,留仙洞,IGT-106,AEAAAAAAG,2018-09-01,08:35:05,300.0,150.0,地铁七号线,桃源村,出AGM23-24,地铁
78125,AEAAAAAFB,2018-09-01,07:25:16,0,0,地铁九号线,泥岗,IGT-123,AEAAAAAFB,2018-09-01,07:41:38,200.0,100.0,地铁七号线,黄木岗,出AGM01-02,地铁
504798,AEAAAACFF,2018-09-01,08:26:22,0,0,地铁三号线,翠竹,AGM-109,AEAAAACFF,2018-09-01,08:49:23,300.0,150.0,地铁四号线,少年宫,OGT-122,地铁
122332,AEAAAACHG,2018-09-01,07:47:02,0,0,地铁三号线,草埔,AGM-114,AEAAAACHG,2018-09-01,08:17:53,400.0,200.0,地铁三号线,少年宫,AGM-103,地铁
3820902,AEAAAAEBF,2018-09-01,09:35:25,0,0,地铁九号线,向西村,IGT-111,AEAAAAEBF,2018-09-01,10:08:21,400.0,200.0,地铁四号线,少年宫,OGT-102,地铁
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55280,HJJJHCID,2018-09-01,07:12:53,0,0,地铁一号线,固戍,IGT_108,HJJJHCID,2018-09-01,07:52:28,500.0,475.0,地铁五号线,大学城,OGT-107,地铁
3823687,HJJJIBDF,2018-09-01,09:28:05,0,0,地铁一号线,罗湖站,IGT-109,HJJJIBDF,2018-09-01,09:44:21,300.0,285.0,地铁一号线,岗厦站,OGT-112,地铁
4156691,HJJJIDGB,2018-09-01,09:50:30,0,0,地铁四号线,福民,IGT-109,HJJJIDGB,2018-09-01,09:57:37,200.0,190.0,地铁一号线,会展中心站,OGT-106,地铁
4274856,HJJJIGGJ,2018-09-01,10:14:48,0,0,地铁四号线,福民,IGT-115,HJJJIGGJ,2018-09-01,10:43:32,400.0,340.0,地铁七号线,深云,双AGM19-20,地铁
2399713,HJJJJFAC,2018-09-01,08:44:00,0,0,地铁五号线,翻身,IGT-107,HJJJJFAC,2018-09-01,09:17:02,500.0,475.0,地铁五号线,民治,OGT-118,地铁

In [267]:
#Change the order of columns
data12 = data12[['card_no','date','time','company_name','station','time1','company_name1','station1','mode of transport','deal_money1','car_no']]
#Change column name
data12.columns = ['cardID','date','Start time','start line','start station','end time','end line','end station','mode of transport','deal_money','car_no']
data12

,cardID,date,Start time,start line,start station,end time,end line,end station,mode of transport,deal_money,car_no
453103,AEAAAAAAG,2018-09-01,08:18:04,地铁五号线,留仙洞,08:35:05,地铁七号线,桃源村,地铁,150.0,IGT-106
78125,AEAAAAAFB,2018-09-01,07:25:16,地铁九号线,泥岗,07:41:38,地铁七号线,黄木岗,地铁,100.0,IGT-123
504798,AEAAAACFF,2018-09-01,08:26:22,地铁三号线,翠竹,08:49:23,地铁四号线,少年宫,地铁,150.0,AGM-109
122332,AEAAAACHG,2018-09-01,07:47:02,地铁三号线,草埔,08:17:53,地铁三号线,少年宫,地铁,200.0,AGM-114
3820902,AEAAAAEBF,2018-09-01,09:35:25,地铁九号线,向西村,10:08:21,地铁四号线,少年宫,地铁,200.0,IGT-111
...,...,...,...,...,...,...,...,...,...,...,...
55280,HJJJHCID,2018-09-01,07:12:53,地铁一号线,固戍,07:52:28,地铁五号线,大学城,地铁,475.0,IGT_108
3823687,HJJJIBDF,2018-09-01,09:28:05,地铁一号线,罗湖站,09:44:21,地铁一号线,岗厦站,地铁,285.0,IGT-109
4156691,HJJJIDGB,2018-09-01,09:50:30,地铁四号线,福民,09:57:37,地铁一号线,会展中心站,地铁,190.0,IGT-109
4274856,HJJJIGGJ,2018-09-01,10:14:48,地铁四号线,福民,10:43:32,地铁七号线,深云,地铁,340.0,IGT-115
2399713,HJJJJFAC,2018-09-01,08:44:00,地铁五号线,翻身,09:17:02,地铁五号线,民治,地铁,475.0,IGT-107

In [268]:
t_1 = pd.DataFrame(data11)
t_2 = pd.DataFrame(data12)
data3 = pd.concat([t_1,t_2])
data3

,cardID,date,Start time,start line,start station,end time,end line,end station,mode of transport,deal_money,car_no
2348845,BAAAJEABD,2018-08-31,18:40:02,地铁五号线,深圳北,19:59:46,地铁五号线,深圳北,地铁,0.0,OGT-112
2319217,BCCDBGJC,2018-08-31,18:21:13,地铁五号线,深圳北,18:21:56,地铁五号线,深圳北,地铁,0.0,IGT-103
2405037,BCDHDEBE,2018-08-31,16:46:34,地铁五号线,深圳北,18:46:14,地铁五号线,深圳北,地铁,340.0,IGT-102
3980731,BCEJIIFD,2018-08-31,16:57:47,地铁五号线,深圳北,17:27:56,地铁五号线,深圳北,地铁,190.0,AGT-129
2312608,BEAFHJJGH,2018-08-31,18:58:33,地铁五号线,深圳北,20:55:24,地铁五号线,深圳北,地铁,100.0,IGT-130
...,...,...,...,...,...,...,...,...,...,...,...
55280,HJJJHCID,2018-09-01,07:12:53,地铁一号线,固戍,07:52:28,地铁五号线,大学城,地铁,475.0,IGT_108
3823687,HJJJIBDF,2018-09-01,09:28:05,地铁一号线,罗湖站,09:44:21,地铁一号线,岗厦站,地铁,285.0,IGT-109
4156691,HJJJIDGB,2018-09-01,09:50:30,地铁四号线,福民,09:57:37,地铁一号线,会展中心站,地铁,190.0,IGT-109
4274856,HJJJIGGJ,2018-09-01,10:14:48,地铁四号线,福民,10:43:32,地铁七号线,深云,地铁,340.0,IGT-115
2399713,HJJJJFAC,2018-09-01,08:44:00,地铁五号线,翻身,09:17:02,地铁五号线,民治,地铁,475.0,IGT-107

In [269]:
#data3.to_csv(r'C:\Users\脑林\Desktop\每周汇报\subway_data.csv', index = None ,encoding = 'utf-8_sig')
data_subway = pd.read_csv(r'subway_data.csv',encoding = 'GB18030')
data_subway

,cardID,date,Start time,start line,start station,end time,end line,end station,mode of transport,deal_money,car_no
0,BAAAJEABD,2018/8/31,18:40:02,5,深圳北,19:59:46,5,深圳北,subway,0,OGT-112
1,BCCDBGJC,2018/8/31,18:21:13,5,深圳北,18:21:56,5,深圳北,subway,0,IGT-103
2,BCDHDEBE,2018/8/31,16:46:34,5,深圳北,18:46:14,5,深圳北,subway,340,IGT-102
3,BCEJIIFD,2018/8/31,16:57:47,5,深圳北,17:27:56,5,深圳北,subway,190,AGT-129
4,BEAFHJJGH,2018/8/31,18:58:33,5,深圳北,20:55:24,5,深圳北,subway,100,IGT-130
...,...,...,...,...,...,...,...,...,...,...,...
335334,HJJJHCID,2018/9/1,7:12:53,1,固戍,7:52:28,5,大学城,subway,475,IGT_108
335335,HJJJIBDF,2018/9/1,9:28:05,1,罗湖,9:44:21,1,岗厦,subway,285,IGT-109
335336,HJJJIDGB,2018/9/1,9:50:30,4,福民,9:57:37,1,会展中心,subway,190,IGT-109
335337,HJJJIGGJ,2018/9/1,10:14:48,4,福民,10:43:32,7,深云,subway,340,IGT-115
335338,HJJJJFAC,2018/9/1,8:44:00,5,翻身,9:17:02,5,民治,subway,475,IGT-107

In [270]:
#Import GPS data of Shenzhen subway Station
station_gps = pd.read_excel(r'stop.xlsx')
station_gps = station_gps[['line_name','st_name','st_index','wgs84_lng','wgs84_lat']]
station_gps

     line_name st_name  st_index   wgs84_lng  wgs84_lat
0            1      罗湖         0  114.113567   2.534774
1            1      国贸         1  114.113810   2.542371
2            1      老街         2  114.111837   2.546921
3            1     大剧院         3  114.102696   2.544483
4            1     大剧院         4  114.102696   2.544483
..         ...     ...       ...         ...        ...
284         20     机场北         0  113.793082   2.654028
285         20     国展南         1  113.773287   2.686617
286         20      国展         2  113.772737   2.699387
287         20     国展北         3  113.771756   2.705984
288         20     会展城         4  113.764628   2.714982

[289 rows x 5 columns]

In [271]:
#data.to_csv(r'C:\Users\脑林\Desktop\每周汇报\subway_data.csv', index = None ,encoding = 'utf-8_sig')
#Add GPS data of sstation and estation
data = data_subway
station_gps.columns = ['start line','start station','start station ID','slon','slat']
data = pd.merge(data,station_gps)
station_gps.columns = ['end line','end station','end station ID','elon','elat']
data = pd.merge(data,station_gps)
data

,cardID,date,Start time,start line,start station,end time,end line,end station,mode of transport,deal_money,car_no,start station ID,slon,slat,end station ID,elon,elat
0,BAAAJEABD,2018/8/31,18:40:02,5,深圳北,19:59:46,5,深圳北,subway,0,OGT-112,20,114.025262,2.613268,20,114.025262,2.613268
1,BCCDBGJC,2018/8/31,18:21:13,5,深圳北,18:21:56,5,深圳北,subway,0,IGT-103,20,114.025262,2.613268,20,114.025262,2.613268
2,BCDHDEBE,2018/8/31,16:46:34,5,深圳北,18:46:14,5,深圳北,subway,340,IGT-102,20,114.025262,2.613268,20,114.025262,2.613268
3,BCEJIIFD,2018/8/31,16:57:47,5,深圳北,17:27:56,5,深圳北,subway,190,AGT-129,20,114.025262,2.613268,20,114.025262,2.613268
4,BEAFHJJGH,2018/8/31,18:58:33,5,深圳北,20:55:24,5,深圳北,subway,100,IGT-130,20,114.025262,2.613268,20,114.025262,2.613268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337123,HHAAJBFFA,2018/9/1,9:58:54,11,机场北,10:10:31,11,机场北,subway,0,AGT-107,8,113.793082,2.654028,8,113.793082,2.654028
337124,HHAAJGJEJ,2018/9/1,8:54:32,11,机场北,8:56:22,11,机场北,subway,0,AGT-106,8,113.793082,2.654028,8,113.793082,2.654028
337125,HHABJGJIC,2018/9/1,8:58:43,11,机场北,9:34:33,11,机场北,subway,0,AGT-106,8,113.793082,2.654028,8,113.793082,2.654028
337126,HHJJBAJFI,2018/9/1,8:40:17,11,机场北,9:49:23,11,机场北,subway,0,AGT-106,8,113.793082,2.654028,8,113.793082,2.654028
337127,HHJJBDICJ,2018/9/1,10:59:23,11,机场北,11:02:17,11,机场北,subway,0,AGT-111,8,113.793082,2.654028,8,113.793082,2.654028

In [272]:
data = data[['cardID','date','Start time','start line','start station ID','end time','end line','end station ID','mode of transport','deal_money','car_no','slon','slat','elon','elat']]
data.sort_values(by = ['date','Start time','cardID'])

,cardID,date,Start time,start line,start station ID,end time,end line,end station ID,mode of transport,deal_money,car_no,slon,slat,elon,elat
160,FIJIEEGII,2018/8/31,16:36:12,5,20,19:32:03,5,20,subway,380,AGT-129,114.025262,2.613268,114.025262,2.613268
40,CCAEBIHAH,2018/8/31,16:39:07,5,20,18:50:48,5,20,subway,190,IGT-101,114.025262,2.613268,114.025262,2.613268
93,FHDCGDADD,2018/8/31,16:39:19,5,20,16:39:38,5,20,subway,190,AGT-127,114.025262,2.613268,114.025262,2.613268
188,HHABJGJAE,2018/8/31,16:39:32,5,20,16:44:06,5,20,subway,0,OGT-138,114.025262,2.613268,114.025262,2.613268
25,CBEFJBJGA,2018/8/31,16:39:42,5,20,16:42:18,5,20,subway,0,IGT-131,114.025262,2.613268,114.025262,2.613268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314953,FHIEEHAHC,2018/9/1,9:59:59,7,10,10:33:58,9,24,subway,380,进AGM31-32,114.030427,2.527379,114.099195,2.564711
304856,FIAGFFGGH,2018/9/1,9:59:59,5,26,10:36:17,1,1,subway,380,IGT-109,114.105546,2.617509,114.113810,2.542371
4581,FIJADDEBE,2018/9/1,9:59:59,3,19,10:41:31,5,20,subway,475,AGM-118,114.143011,2.624713,114.025262,2.613268
301819,FIJBGHHAB,2018/9/1,9:59:59,7,13,10:08:43,3,2,subway,190,进AGM30-31,114.054708,2.525853,114.048509,2.526434
231896,FIJDHGGHA,2018/9/1,9:59:59,5,33,10:23:10,1,8,subway,380,AGT-110,114.131266,2.548805,114.055984,2.537481

In [273]:
#bus data
data2

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no
69,2018-09-01 05:39:10,2018-09-01 00:00:00,CFBAJECDH,800,巴士,金华南巴士,粤BU2313,332(观澜),0,595,227000010
70,2018-09-01 05:44:20,2018-09-01 00:00:00,FFJIJIEJA,400,巴士,金华南巴士,粤BW2731,M433(福永）,0,315,227000161
71,2018-09-01 05:19:47,2018-09-01 00:00:00,CFAGIHDFG,200,巴士,金华南巴士,粤BW0461,M433(皇岗）,0,160,227000169
72,2018-09-01 05:45:52,2018-09-01 00:00:00,FHFJHIGGI,200,巴士,金华南巴士,粤BW0461,M433(皇岗）,0,160,227000169
73,2018-09-01 05:59:08,2018-09-01 00:00:00,CFAGJAJID,200,巴士,金华南巴士,粤BU2663,332(观澜),0,160,227000215
...,...,...,...,...,...,...,...,...,...,...,...
4385872,2018-09-01 09:03:17,2018-09-01 00:00:00,CFHCCGAEC,100,巴士,西部公共汽车,粤BBA748,B692线,0,80,224007753
4385873,2018-09-01 09:54:13,2018-09-01 00:00:00,BIDJAEDEE,100,巴士,西部公共汽车,粤BBA748,B692线,1,40,224007753
4385874,2018-09-01 09:24:23,2018-09-01 00:00:00,FHGIHHCDA,200,巴士,巴士集团,02873D,103路,0,160,231016943
4385875,2018-09-01 09:40:47,2018-09-01 00:00:00,FHGHJJHIG,200,巴士,巴士集团,02873D,103路,0,160,231016943
4385876,2018-09-01 08:27:03,2018-09-01 00:00:00,BIHBJHECE,100,巴士,西部公共汽车,粤BBB962,B692线,1,40,224007754

In [274]:
r = data2['deal_date'].iloc[0]
#Separate date and time
data2['date'] = data2['deal_date'].apply(lambda r:r[:(r.find(' ')+1)])
data2['time'] = data2['deal_date'].apply(lambda r:r[(r.find(' ')+1):])
data2

C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\1204271395.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['date'] = data2['deal_date'].apply(lambda r:r[:(r.find(' ')+1)])
C:\Users\脑林\AppData\Local\Temp\ipykernel_7728\1204271395.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['time'] = data2['deal_date'].apply(lambda r:r[(r.find(' ')+1):])

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
69,2018-09-01 05:39:10,2018-09-01 00:00:00,CFBAJECDH,800,巴士,金华南巴士,粤BU2313,332(观澜),0,595,227000010,2018-09-01,05:39:10
70,2018-09-01 05:44:20,2018-09-01 00:00:00,FFJIJIEJA,400,巴士,金华南巴士,粤BW2731,M433(福永）,0,315,227000161,2018-09-01,05:44:20
71,2018-09-01 05:19:47,2018-09-01 00:00:00,CFAGIHDFG,200,巴士,金华南巴士,粤BW0461,M433(皇岗）,0,160,227000169,2018-09-01,05:19:47
72,2018-09-01 05:45:52,2018-09-01 00:00:00,FHFJHIGGI,200,巴士,金华南巴士,粤BW0461,M433(皇岗）,0,160,227000169,2018-09-01,05:45:52
73,2018-09-01 05:59:08,2018-09-01 00:00:00,CFAGJAJID,200,巴士,金华南巴士,粤BU2663,332(观澜),0,160,227000215,2018-09-01,05:59:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4385872,2018-09-01 09:03:17,2018-09-01 00:00:00,CFHCCGAEC,100,巴士,西部公共汽车,粤BBA748,B692线,0,80,224007753,2018-09-01,09:03:17
4385873,2018-09-01 09:54:13,2018-09-01 00:00:00,BIDJAEDEE,100,巴士,西部公共汽车,粤BBA748,B692线,1,40,224007753,2018-09-01,09:54:13
4385874,2018-09-01 09:24:23,2018-09-01 00:00:00,FHGIHHCDA,200,巴士,巴士集团,02873D,103路,0,160,231016943,2018-09-01,09:24:23
4385875,2018-09-01 09:40:47,2018-09-01 00:00:00,FHGHJJHIG,200,巴士,巴士集团,02873D,103路,0,160,231016943,2018-09-01,09:40:47
4385876,2018-09-01 08:27:03,2018-09-01 00:00:00,BIHBJHECE,100,巴士,西部公共汽车,粤BBB962,B692线,1,40,224007754,2018-09-01,08:27:03

In [275]:
data2.sort_values(by = ['date'])

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
3886080,2018-08-27 20:23:26,2018-09-01 00:00:00,DICADFBFE,200,巴士,东部公共交通,CK020,高快巴士772号,0,0,220002603,2018-08-27,20:23:26
2386290,2018-08-28 19:21:51,2018-09-01 00:00:00,FHFGFCEDA,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,1,120,224006144,2018-08-28,19:21:51
2405411,2018-08-28 19:22:16,2018-09-01 00:00:00,BEBAHCBII,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,100,224006144,2018-08-28,19:22:16
3823475,2018-08-28 20:41:52,2018-09-01 00:00:00,FIJABHFHD,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-28,20:41:52
3823474,2018-08-28 18:42:25,2018-09-01 00:00:00,CBCJEGDBG,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-28,18:42:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334130,2018-09-01 07:48:23,2018-09-01 00:00:00,CCACDAEDI,200,巴士,巴士集团,45882D,38路,0,160,231011685,2018-09-01,07:48:23
2334129,2018-09-01 07:15:16,2018-09-01 00:00:00,FHGGHDEHC,200,巴士,巴士集团,45882D,38路,0,160,231011685,2018-09-01,07:15:16
2334128,2018-09-01 08:58:16,2018-09-01 00:00:00,CFCJEIFCD,200,巴士,巴士集团,30942D,27路,0,160,231011681,2018-09-01,08:58:16
2334126,2018-09-01 08:08:36,2018-09-01 00:00:00,FHEAFHEIG,200,巴士,巴士集团,30942D,27路,0,160,231011681,2018-09-01,08:08:36
4385876,2018-09-01 08:27:03,2018-09-01 00:00:00,BIHBJHECE,100,巴士,西部公共汽车,粤BBB962,B692线,1,40,224007754,2018-09-01,08:27:03

In [276]:
#bus data on August 27
data27 = data2[data2['date'] == '2018-08-27 ']
data27 = data27.sort_values(by = ['card_no','time'])
data27

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
3886080,2018-08-27 20:23:26,2018-09-01 00:00:00,DICADFBFE,200,巴士,东部公共交通,CK020,高快巴士772号,0,0,220002603,2018-08-27,20:23:26

In [277]:
#bus data on August 28
data28 = data2[data2['date'] == '2018-08-28 ']
data28 = data28.sort_values(by = ['card_no','time'])
data28

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
2432848,2018-08-28 17:30:55,2018-09-01 00:00:00,BEAAAAGJG,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,100,224006144,2018-08-28,17:30:55
3822794,2018-08-28 17:30:53,2018-09-01 00:00:00,BEAIDIEJF,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,100,224006144,2018-08-28,17:30:53
2405411,2018-08-28 19:22:16,2018-09-01 00:00:00,BEBAHCBII,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,100,224006144,2018-08-28,19:22:16
2392692,2018-08-28 17:43:45,2018-09-01 00:00:00,BIADCHGFE,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,1,120,224006144,2018-08-28,17:43:45
3835783,2018-08-28 18:39:11,2018-09-01 00:00:00,BIAGHJAHG,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-28,18:39:11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424562,2018-08-28 17:20:12,2018-09-01 00:00:00,FHIABBIIC,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-28,17:20:12
2383994,2018-08-28 19:09:53,2018-09-01 00:00:00,FIACABHFI,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-28,19:09:53
3823475,2018-08-28 20:41:52,2018-09-01 00:00:00,FIJABHFHD,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-28,20:41:52
2398115,2018-08-28 17:53:41,2018-09-01 00:00:00,FIJAGBCEE,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-28,17:53:41
2398868,2018-08-28 20:10:11,2018-09-01 00:00:00,FIJIAHJHG,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-28,20:10:11

In [278]:
#bus data on August 29
data29 = data2[data2['date'] == '2018-08-29 ']
data29 = data29.sort_values(by = ['card_no','time'])
data29

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
2278277,2018-08-29 10:51:00,2018-09-01 00:00:00,BEABGJGIH,100,巴士,东部公共交通,08607D,B884,0,50,220008957,2018-08-29,10:51:00
2391989,2018-08-29 17:29:59,2018-09-01 00:00:00,BEACGDHCH,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,100,224006144,2018-08-29,17:29:59
2415459,2018-08-29 08:58:48,2018-09-01 00:00:00,BEADADDCA,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,100,224006144,2018-08-29,08:58:48
2420591,2018-08-29 16:08:12,2018-09-01 00:00:00,BEAGGCBIB,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,100,224006144,2018-08-29,16:08:12
2415461,2018-08-29 16:08:10,2018-09-01 00:00:00,BEAHFJIEA,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,100,224006144,2018-08-29,16:08:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406185,2018-08-29 12:01:55,2018-09-01 00:00:00,FIJGEIECA,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-29,12:01:55
2421199,2018-08-29 19:46:03,2018-09-01 00:00:00,FIJGHCDGE,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,0,160,224006144,2018-08-29,19:46:03
2385277,2018-08-29 09:29:32,2018-09-01 00:00:00,FIJHGAEBD,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,1,120,224006144,2018-08-29,09:29:32
2391988,2018-08-29 12:59:32,2018-09-01 00:00:00,FIJIJGDDE,200,巴士,西部公共汽车,粤B09378D,M237线（混租电动）,1,120,224006144,2018-08-29,12:59:32
639097,2018-08-29 19:31:38,2018-09-01 00:00:00,HJDCGJHF,300,巴士,东部公共交通,03246D,M361,0,200,220001932,2018-08-29,19:31:38

In [279]:
#bus data on August 30
data30 = data2[data2['date'] == '2018-08-30 ']
data30 = data30.sort_values(by = ['card_no','time'])
data30

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
4340444,2018-08-30 18:33:36,2018-09-01 00:00:00,AHJJDJGHJ,200,巴士,西部公共汽车,粤B37585D,M206线（混租电动）,0,160,224007376,2018-08-30,18:33:36
729450,2018-08-30 07:58:05,2018-09-01 00:00:00,AHJJGJCDC,200,巴士,西部公共汽车,粤B05085D,E36线（混租电动）,0,160,224003774,2018-08-30,07:58:05
626458,2018-08-30 13:53:23,2018-09-01 00:00:00,BAAAJAGAA,200,巴士,东部公共交通,43247D,839,0,0,220002261,2018-08-30,13:53:23
4362878,2018-08-30 19:16:18,2018-09-01 00:00:00,BAJEHHDA,200,巴士,西部公共汽车,粤B37585D,M206线（混租电动）,1,120,224007376,2018-08-30,19:16:18
731991,2018-08-30 08:30:34,2018-09-01 00:00:00,BCEICAEE,600,巴士,西部公共汽车,粤B05085D,E36线（混租电动）,0,465,224003774,2018-08-30,08:30:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
705850,2018-08-30 08:09:57,2018-09-01 00:00:00,FIJGHHCGG,600,巴士,西部公共汽车,粤B05085D,E36线（混租电动）,1,425,224003774,2018-08-30,08:09:57
4331977,2018-08-30 18:46:39,2018-09-01 00:00:00,FIJIJDDII,200,巴士,西部公共汽车,粤B37585D,M206线（混租电动）,0,160,224007376,2018-08-30,18:46:39
3834887,2018-08-30 13:48:46,2018-09-01 00:00:00,GJJJCFIID,200,巴士,西部公共汽车,粤B37585D,M206线（混租电动）,0,160,224007376,2018-08-30,13:48:46
614243,2018-08-30 12:42:22,2018-09-01 00:00:00,HJBEAHFE,200,巴士,东部公共交通,43247D,839,0,160,220002261,2018-08-30,12:42:22
3821259,2018-08-30 13:49:28,2018-09-01 00:00:00,HJDBBFAJ,200,巴士,西部公共汽车,粤B37585D,M206线（混租电动）,0,160,224007376,2018-08-30,13:49:28

In [280]:
#bus data on August 31
data21 = data2[data2['date'] == '2018-08-31 ']
data21 = data21.sort_values(by = ['card_no','time'])
data21

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
578377,2018-08-31 14:06:40,2018-09-01 00:00:00,AEAAJEDBD,250,巴士,东部公共交通,08100D,M511,0,125,220001078,2018-08-31,14:06:40
618698,2018-08-31 12:22:22,2018-09-01 00:00:00,AEAAJFHJG,200,巴士,东部公共交通,00076D,398,0,100,220005017,2018-08-31,12:22:22
693036,2018-08-31 15:35:34,2018-09-01 00:00:00,AEAJAEEAH,250,巴士,巴士集团,30482D,58路,0,125,231020777,2018-08-31,15:35:34
733999,2018-08-31 10:59:31,2018-09-01 00:00:00,AEAJAEIFH,250,巴士,西部公共汽车,粤B40383D,M450线（混租电动）,0,125,224001441,2018-08-31,10:59:31
4089765,2018-08-31 12:51:08,2018-09-01 00:00:00,AEAJBAGII,200,巴士,西部公共汽车,粤B49191D,336线（混租电动）,0,100,224002280,2018-08-31,12:51:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
589405,2018-08-31 08:54:09,2018-09-01 00:00:00,HJDJCEEF,1000,巴士,东部公共交通,08323D,E25,0,725,220002672,2018-08-31,08:54:09
721514,2018-08-31 09:52:12,2018-09-01 00:00:00,HJDJGBFJ,250,巴士,西部公共汽车,粤B06292D,393线（混租电动）,0,200,224001720,2018-08-31,09:52:12
631341,2018-08-31 09:42:15,2018-09-01 00:00:00,HJJBCBAD,1000,巴士,东部公共交通,09339D,E26,0,725,220003390,2018-08-31,09:42:15
2370232,2018-08-31 14:31:42,2018-09-01 00:00:00,HJJGHDFE,250,巴士,西部公共汽车,粤B09585D,M152线（混租电动),1,160,224003461,2018-08-31,14:31:42
4164110,2018-08-31 14:59:07,2018-09-01 00:00:00,HJJHCHAE,200,巴士,东部公共交通,46950D,839,0,160,220003117,2018-08-31,14:59:07

In [281]:
#bus data on September 1
data22 = data2[data2['date'] == '2018-09-01 ']
data22 = data22.sort_values(by = ['card_no','time'])
data22

,deal_date,close_date,card_no,deal_value,deal_type,company_name,car_no,station,conn_mark,deal_money,equ_no,date,time
2386991,2018-09-01 07:32:40,2018-09-01 00:00:00,AEAAAAAEI,200,巴士,巴士集团,08369D,M441,0,100,231017278,2018-09-01,07:32:40
4101401,2018-09-01 07:26:18,2018-09-01 00:00:00,AEAAAAAFA,250,巴士,巴士集团,39790D,11路,0,125,231021805,2018-09-01,07:26:18
3849233,2018-09-01 08:32:07,2018-09-01 00:00:00,AEAAAABJH,200,巴士,东部公共交通,08189D,369,0,100,220006186,2018-09-01,08:32:07
4026846,2018-09-01 07:47:07,2018-09-01 00:00:00,AEAAAACDE,200,巴士,巴士集团,47479D,80路,0,100,231020191,2018-09-01,07:47:07
4380230,2018-09-01 10:56:00,2018-09-01 00:00:00,AEAAAACDE,200,巴士,巴士集团,06921D,107路,0,100,231016621,2018-09-01,10:56:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4201031,2018-09-01 08:13:04,2018-09-01 00:00:00,HJJJEFIH,200,巴士,西部公共汽车,粤BBB372,338线,0,160,224002120,2018-09-01,08:13:04
3825690,2018-09-01 07:54:47,2018-09-01 00:00:00,HJJJFCHJ,200,巴士,西部公共汽车,粤B06446D,M535线（混租电动）,0,160,224007461,2018-09-01,07:54:47
4331092,2018-09-01 11:08:15,2018-09-01 00:00:00,HJJJHJDD,200,巴士,巴士集团,00446D,82路,0,160,231011261,2018-09-01,11:08:15
4384437,2018-09-01 09:38:30,2018-09-01 00:00:00,HJJJIFAA,200,巴士,巴士集团,08678D,307路,0,160,231016850,2018-09-01,09:38:30
4103680,2018-09-01 08:21:11,2018-09-01 00:00:00,HJJJJGBD,500,巴士,西部公共汽车,粤B38290D,E8线（混租电动）,0,390,224003903,2018-09-01,08:21:11

In [282]:
data21 = data21[['card_no','date','time','station','deal_type','deal_money','car_no']]
data21.columns = ['cardID','date','Start time','start line','mode of transport','deal_money','car_no']
data21.sort_values(by = ['cardID','Start time'])

,cardID,date,Start time,start line,mode of transport,deal_money,car_no
578377,AEAAJEDBD,2018-08-31,14:06:40,M511,巴士,125,08100D
618698,AEAAJFHJG,2018-08-31,12:22:22,398,巴士,100,00076D
693036,AEAJAEEAH,2018-08-31,15:35:34,58路,巴士,125,30482D
733999,AEAJAEIFH,2018-08-31,10:59:31,M450线（混租电动）,巴士,125,粤B40383D
4089765,AEAJBAGII,2018-08-31,12:51:08,336线（混租电动）,巴士,100,粤B49191D
...,...,...,...,...,...,...,...
589405,HJDJCEEF,2018-08-31,08:54:09,E25,巴士,725,08323D
721514,HJDJGBFJ,2018-08-31,09:52:12,393线（混租电动）,巴士,200,粤B06292D
631341,HJJBCBAD,2018-08-31,09:42:15,E26,巴士,725,09339D
2370232,HJJGHDFE,2018-08-31,14:31:42,M152线（混租电动),巴士,160,粤B09585D
4164110,HJJHCHAE,2018-08-31,14:59:07,839,巴士,160,46950D

In [283]:
data22 = data22[['card_no','date','time','station','deal_type','deal_money','car_no']]
data22.columns = ['cardID','date','Start time','start line','mode of transport','deal_money','car_no']
data22.sort_values(by = ['cardID','Start time'])

,cardID,date,Start time,start line,mode of transport,deal_money,car_no
2386991,AEAAAAAEI,2018-09-01,07:32:40,M441,巴士,100,08369D
4101401,AEAAAAAFA,2018-09-01,07:26:18,11路,巴士,125,39790D
3849233,AEAAAABJH,2018-09-01,08:32:07,369,巴士,100,08189D
4026846,AEAAAACDE,2018-09-01,07:47:07,80路,巴士,100,47479D
4380230,AEAAAACDE,2018-09-01,10:56:00,107路,巴士,100,06921D
...,...,...,...,...,...,...,...
4201031,HJJJEFIH,2018-09-01,08:13:04,338线,巴士,160,粤BBB372
3825690,HJJJFCHJ,2018-09-01,07:54:47,M535线（混租电动）,巴士,160,粤B06446D
4331092,HJJJHJDD,2018-09-01,11:08:15,82路,巴士,160,00446D
4384437,HJJJIFAA,2018-09-01,09:38:30,307路,巴士,160,08678D
4103680,HJJJJGBD,2018-09-01,08:21:11,E8线（混租电动）,巴士,390,粤B38290D

In [284]:
data27 = data27[['card_no','date','time','station','deal_type','deal_money','car_no']]
data27.columns = ['cardID','date','Start time','start line','mode of transport','deal_money','car_no']
data27.sort_values(by = ['cardID','Start time'])

,cardID,date,Start time,start line,mode of transport,deal_money,car_no
3886080,DICADFBFE,2018-08-27,20:23:26,高快巴士772号,巴士,0,CK020

In [285]:
data28 = data28[['card_no','date','time','station','deal_type','deal_money','car_no']]
data28.columns = ['cardID','date','Start time','start line','mode of transport','deal_money','car_no']
data28.sort_values(by = ['cardID','Start time'])

,cardID,date,Start time,start line,mode of transport,deal_money,car_no
2432848,BEAAAAGJG,2018-08-28,17:30:55,M237线（混租电动）,巴士,100,粤B09378D
3822794,BEAIDIEJF,2018-08-28,17:30:53,M237线（混租电动）,巴士,100,粤B09378D
2405411,BEBAHCBII,2018-08-28,19:22:16,M237线（混租电动）,巴士,100,粤B09378D
2392692,BIADCHGFE,2018-08-28,17:43:45,M237线（混租电动）,巴士,120,粤B09378D
3835783,BIAGHJAHG,2018-08-28,18:39:11,M237线（混租电动）,巴士,160,粤B09378D
...,...,...,...,...,...,...,...
2424562,FHIABBIIC,2018-08-28,17:20:12,M237线（混租电动）,巴士,160,粤B09378D
2383994,FIACABHFI,2018-08-28,19:09:53,M237线（混租电动）,巴士,160,粤B09378D
3823475,FIJABHFHD,2018-08-28,20:41:52,M237线（混租电动）,巴士,160,粤B09378D
2398115,FIJAGBCEE,2018-08-28,17:53:41,M237线（混租电动）,巴士,160,粤B09378D
2398868,FIJIAHJHG,2018-08-28,20:10:11,M237线（混租电动）,巴士,160,粤B09378D

In [286]:
data29 = data29[['card_no','date','time','station','deal_type','deal_money','car_no']]
data29.columns = ['cardID','date','Start time','start line','mode of transport','deal_money','car_no']
data29.sort_values(by = ['cardID','Start time'])

,cardID,date,Start time,start line,mode of transport,deal_money,car_no
2278277,BEABGJGIH,2018-08-29,10:51:00,B884,巴士,50,08607D
2391989,BEACGDHCH,2018-08-29,17:29:59,M237线（混租电动）,巴士,100,粤B09378D
2415459,BEADADDCA,2018-08-29,08:58:48,M237线（混租电动）,巴士,100,粤B09378D
2420591,BEAGGCBIB,2018-08-29,16:08:12,M237线（混租电动）,巴士,100,粤B09378D
2415461,BEAHFJIEA,2018-08-29,16:08:10,M237线（混租电动）,巴士,100,粤B09378D
...,...,...,...,...,...,...,...
2406185,FIJGEIECA,2018-08-29,12:01:55,M237线（混租电动）,巴士,160,粤B09378D
2421199,FIJGHCDGE,2018-08-29,19:46:03,M237线（混租电动）,巴士,160,粤B09378D
2385277,FIJHGAEBD,2018-08-29,09:29:32,M237线（混租电动）,巴士,120,粤B09378D
2391988,FIJIJGDDE,2018-08-29,12:59:32,M237线（混租电动）,巴士,120,粤B09378D
639097,HJDCGJHF,2018-08-29,19:31:38,M361,巴士,200,03246D

In [287]:
data30 = data30[['card_no','date','time','station','deal_type','deal_money','car_no']]
data30.columns = ['cardID','date','Start time','start line','mode of transport','deal_money','car_no']
data30.sort_values(by = ['cardID','Start time'])

,cardID,date,Start time,start line,mode of transport,deal_money,car_no
4340444,AHJJDJGHJ,2018-08-30,18:33:36,M206线（混租电动）,巴士,160,粤B37585D
729450,AHJJGJCDC,2018-08-30,07:58:05,E36线（混租电动）,巴士,160,粤B05085D
626458,BAAAJAGAA,2018-08-30,13:53:23,839,巴士,0,43247D
4362878,BAJEHHDA,2018-08-30,19:16:18,M206线（混租电动）,巴士,120,粤B37585D
731991,BCEICAEE,2018-08-30,08:30:34,E36线（混租电动）,巴士,465,粤B05085D
...,...,...,...,...,...,...,...
705850,FIJGHHCGG,2018-08-30,08:09:57,E36线（混租电动）,巴士,425,粤B05085D
4331977,FIJIJDDII,2018-08-30,18:46:39,M206线（混租电动）,巴士,160,粤B37585D
3834887,GJJJCFIID,2018-08-30,13:48:46,M206线（混租电动）,巴士,160,粤B37585D
614243,HJBEAHFE,2018-08-30,12:42:22,839,巴士,160,43247D
3821259,HJDBBFAJ,2018-08-30,13:49:28,M206线（混租电动）,巴士,160,粤B37585D

In [288]:
b_1 = pd.DataFrame(data21)
b_2 = pd.DataFrame(data22)
b_3 = pd.DataFrame(data27)
b_4 = pd.DataFrame(data28)
b_5 = pd.DataFrame(data29)
b_6 = pd.DataFrame(data30)
data4 = pd.concat([b_3,b_4,b_5,b_6,b_1,b_2])
data4

,cardID,date,Start time,start line,mode of transport,deal_money,car_no
3886080,DICADFBFE,2018-08-27,20:23:26,高快巴士772号,巴士,0,CK020
2432848,BEAAAAGJG,2018-08-28,17:30:55,M237线（混租电动）,巴士,100,粤B09378D
3822794,BEAIDIEJF,2018-08-28,17:30:53,M237线（混租电动）,巴士,100,粤B09378D
2405411,BEBAHCBII,2018-08-28,19:22:16,M237线（混租电动）,巴士,100,粤B09378D
2392692,BIADCHGFE,2018-08-28,17:43:45,M237线（混租电动）,巴士,120,粤B09378D
...,...,...,...,...,...,...,...
4201031,HJJJEFIH,2018-09-01,08:13:04,338线,巴士,160,粤BBB372
3825690,HJJJFCHJ,2018-09-01,07:54:47,M535线（混租电动）,巴士,160,粤B06446D
4331092,HJJJHJDD,2018-09-01,11:08:15,82路,巴士,160,00446D
4384437,HJJJIFAA,2018-09-01,09:38:30,307路,巴士,160,08678D
4103680,HJJJJGBD,2018-09-01,08:21:11,E8线（混租电动）,巴士,390,粤B38290D

In [289]:
#data4.to_csv(r'C:\Users\脑林\Desktop\每周汇报\bus_data.csv', index = None ,encoding = 'utf-8_sig')
data_bus = pd.read_csv(r'bus_data.csv',encoding = 'GB18030')
data_bus

,cardID,date,Start time,start line,mode of transport,deal_money,car_no
0,DICADFBFE,2018/8/27,20:23:26,772,bus,0,CK020
1,BEAAAAGJG,2018/8/28,17:30:55,M237,bus,100,粤B09378D
2,BEAIDIEJF,2018/8/28,17:30:53,M237,bus,100,粤B09378D
3,BEBAHCBII,2018/8/28,19:22:16,M237,bus,100,粤B09378D
4,BIADCHGFE,2018/8/28,17:43:45,M237,bus,120,粤B09378D
...,...,...,...,...,...,...,...
446580,HJJJEFIH,2018/9/1,8:13:04,338,bus,160,粤BBB372
446581,HJJJFCHJ,2018/9/1,7:54:47,M535,bus,160,粤B06446D
446582,HJJJHJDD,2018/9/1,11:08:15,82,bus,160,00446D
446583,HJJJIFAA,2018/9/1,9:38:30,307,bus,160,08678D
446584,HJJJJGBD,2018/9/1,8:21:11,E8,bus,390,粤B38290D

In [290]:
data_total = pd.concat([data,data_bus])
data_total

,cardID,date,Start time,start line,start station ID,end time,end line,end station ID,mode of transport,deal_money,car_no,slon,slat,elon,elat
0,BAAAJEABD,2018/8/31,18:40:02,5,20.0,19:59:46,5.0,20.0,subway,0,OGT-112,114.025262,2.613268,114.025262,2.613268
1,BCCDBGJC,2018/8/31,18:21:13,5,20.0,18:21:56,5.0,20.0,subway,0,IGT-103,114.025262,2.613268,114.025262,2.613268
2,BCDHDEBE,2018/8/31,16:46:34,5,20.0,18:46:14,5.0,20.0,subway,340,IGT-102,114.025262,2.613268,114.025262,2.613268
3,BCEJIIFD,2018/8/31,16:57:47,5,20.0,17:27:56,5.0,20.0,subway,190,AGT-129,114.025262,2.613268,114.025262,2.613268
4,BEAFHJJGH,2018/8/31,18:58:33,5,20.0,20:55:24,5.0,20.0,subway,100,IGT-130,114.025262,2.613268,114.025262,2.613268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446580,HJJJEFIH,2018/9/1,8:13:04,338,NaN,NaN,NaN,NaN,bus,160,粤BBB372,NaN,NaN,NaN,NaN
446581,HJJJFCHJ,2018/9/1,7:54:47,M535,NaN,NaN,NaN,NaN,bus,160,粤B06446D,NaN,NaN,NaN,NaN
446582,HJJJHJDD,2018/9/1,11:08:15,82,NaN,NaN,NaN,NaN,bus,160,00446D,NaN,NaN,NaN,NaN
446583,HJJJIFAA,2018/9/1,9:38:30,307,NaN,NaN,NaN,NaN,bus,160,08678D,NaN,NaN,NaN,NaN
446584,HJJJJGBD,2018/9/1,8:21:11,E8,NaN,NaN,NaN,NaN,bus,390,粤B38290D,NaN,NaN,NaN,NaN

In [291]:
data_total.sort_values(by = ['date','cardID','Start time'])

,cardID,date,Start time,start line,start station ID,end time,end line,end station ID,mode of transport,deal_money,car_no,slon,slat,elon,elat
0,DICADFBFE,2018/8/27,20:23:26,772,NaN,NaN,NaN,NaN,bus,0,CK020,NaN,NaN,NaN,NaN
1,BEAAAAGJG,2018/8/28,17:30:55,M237,NaN,NaN,NaN,NaN,bus,100,粤B09378D,NaN,NaN,NaN,NaN
2,BEAIDIEJF,2018/8/28,17:30:53,M237,NaN,NaN,NaN,NaN,bus,100,粤B09378D,NaN,NaN,NaN,NaN
3,BEBAHCBII,2018/8/28,19:22:16,M237,NaN,NaN,NaN,NaN,bus,100,粤B09378D,NaN,NaN,NaN,NaN
4,BIADCHGFE,2018/8/28,17:43:45,M237,NaN,NaN,NaN,NaN,bus,120,粤B09378D,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234200,HJJJIDGB,2018/9/1,9:50:30,4,1.0,9:57:37,1.0,8.0,subway,190,IGT-109,114.060794,2.525931,114.055984,2.537481
446583,HJJJIFAA,2018/9/1,9:38:30,307,NaN,NaN,NaN,NaN,bus,160,08678D,NaN,NaN,NaN,NaN
317908,HJJJIGGJ,2018/9/1,10:14:48,4,1.0,10:43:32,7.0,6.0,subway,340,IGT-115,114.060794,2.525931,113.988747,2.559422
43868,HJJJJFAC,2018/9/1,8:44:00,5,11.0,9:17:02,5.0,21.0,subway,475,IGT-107,113.888358,2.562740,114.035757,2.620289
446584,HJJJJGBD,2018/9/1,8:21:11,E8,NaN,NaN,NaN,NaN,bus,390,粤B38290D,NaN,NaN,NaN,NaN